body{
	
/*
   Name             Value
Logocolor           #005688
Less Saturated      #1A4A66
Dark Blue           #003858
Light Blue          #318DC3
Super Light Blue    #589CC3
*/
	font-size: 18;
	font-family: sans;
	
	background-color: #005688;
	
	color: white;
}
#rpc_response {
   font-size: 8;
}
#rpc_request {
   font-size: 8;
}

#rpc_log {
}

#tabs .tabs-spacer { float: left; height: 200px; }
.tabs-bottom .ui-tabs-nav { clear: left; padding: 0 .2em .2em .2em; }
.tabs-bottom .ui-tabs-nav li { top: auto; bottom: 0; margin: 0 .2em 1px 0; border-bot
.tabs-bottom .ui-tabs-nav li.ui-tabs-active { margin-top: -1px; padding-top: 1px; }

